body {
  font-family: 'Poppins', sans-serif; 
    margin: 0 50px;
    background-color: #3d384b;
    color: #e0daf1;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  h1{
    text-align: center;
  }
  #posts {
    width: 400px;
  }
  
  #posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .options {
    display: flex;
    gap: 25px;
  }
  
  i {
    cursor: pointer;
  }
  
  #msg {
    color: red;
  }
  